* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #12221c;
    font-family: Arial, Helvetica, sans-serif;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 50px;
    background-color: #254539;
    color: white;
}

.logo {
    font-size: 1.5rem;
    font-weight: 500;
}

nav ul {
    display: flex;
    gap: 10px;
}

nav ul li {
    list-style: none;
}

ul li a {
    text-decoration: none;
    color: white;
    font-size: 1.1rem;
}

h1 {
    font-size: 72px;
    text-align: center;
    color: white;
}

.title  h1{
    margin: 20px 0;
}

.container {
    margin: 50px 0;
    display: flex;
    gap: 50px;
    justify-content: space-around;
    flex-wrap: wrap;
}


.box {
    border: 1px solid gray;
    border-radius: 5px;
    width: 240px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
    color: white;
}

.langPhoto {
    border: 1px solid gray;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    height: 200px;
    width: 100%;
}

.General-Knowledge .langPhoto {
    background-image: url(images/gk.jpg);
    background-size: cover;
    background-position: bottom;
}
.Sports .langPhoto {
    background-image: url(images/sports.jpg);
    background-size: cover;
    background-position: bottom;
}

.modeclass {
    font-size: 20px;
    display: flex;
    justify-content: space-around;
}

.modeclass select {
    height: 24px;
    border-radius: 5px;
}

.btn {
    border: 1px solid gray;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    cursor: pointer;
    font-size: 20px;
    text-decoration: none;
    color: rgb(244, 240, 240);
    padding: 12px 0;
}

@media only screen and (max-width: 430px) {
    title h1 {
        font-size: 0.8rem;
    }
}

